



@media (min-width:1550px) and (max-width:2200px) {
    html{
        font-size: 62%;
    }
}


@media screen and (max-width:1199px){
    html{
        font-size: 52%!important;
    }
}

@media screen and (min-width: 1200px) and (max-width:1599px){
    html{
        font-size: 50%!important;
    }
}

@media screen and (min-width: 2200px) and (max-width:5000px){
    html{
        font-size: 115%!important;
    }
}