@use "../../../style/variables.scss" as *;
.heroProductCard{
    width: $header-right;
    height: $header-right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 10.4rem;
    background: white;
    position: relative;
    z-index: 32;
    box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);

    border-radius: 5rem;
    & hr{
        width: 12rem;
        border-radius: 1px;
        background: #F2F2F2;
        height: 0.2rem;
        border: none;
    }
    & img{
        width: 36.2rem;
        height: 36.2rem;
        
    }
    & h2{
        color: #818181;
        text-align: center;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        & span{
            color: #317189;
            font-weight: 700;
        }
    }
}