.productCard{
    width: 32.2rem;
    height: 41.2rem;
    padding: 3rem 2.6rem;
    border-radius: 30px;
    background: #FFF;
    border-radius: 30px;
    border: 2px solid var(--gray-6, #F2F2F2);
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .5s ease;
    aspect-ratio: 32.2 / 41.2; /* Aspect ratio 32.2:41.2 */
  max-width: 300px; /* Adjust this value as needed to limit the maximum width */
  max-height: 386px; 
    &:hover{
        box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);
    }
    & img{
        width: 19.8rem;
        height: 19.8rem;
    }

    &__info{
        text-align: center;
        & h1{
            text-align: center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.4rem; /* 120% */
            text-transform: uppercase;
            color: #4F4F4F;
            & span{
                color: #317189;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.4rem;
                text-transform: uppercase;
            }
        }
    }
}